<body>
  <div class="card-container">
    <div class="card">
      <div class="search-container">
        <h4>Search Employees by Title</h4>
        <mat-form-field appearance="outline" class="title-input">
          <mat-label>Title</mat-label>
          <mat-select [(ngModel)]="title" name="title" required #titleInput="ngModel">
            <mat-option value="Senior Engineer">Senior Engineer</mat-option>
            <mat-option value="Staff">Staff</mat-option>
            <mat-option value="Engineer">Engineer</mat-option>
            <mat-option value="Senior Staff">Senior Staff</mat-option>
            <mat-option value="Assistant Engineer">Assistant Engineer</mat-option>
            <mat-option value="Technique Leader">Technique Leader</mat-option>
            <mat-option value="Manager">Manager</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
          style="height: 45px;" mat-raised-button color="primary" [disabled]="titleInput.invalid"
          (click)="searchEmployeesByTitle()">Search</button>
        <div *ngIf="titleInput.invalid && (titleInput.dirty || titleInput.touched)" class="error-message">
          Title is required.
        </div>
      </div>

      <div class="employee-details-container">
        <h2>Employee Details</h2>
        <table class="employee-table">
          <thead>
            <tr>
              <th>Employee ID</th>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of pagedEmployeeList">
              <td>{{ employee.empNo }}</td>
              <td>{{ employee.firstName }}</td>
              <td>{{ employee.lastName }}</td>
            </tr>
          </tbody>
        </table>
        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="totalEmployees"
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</body>
