<body>
<div class="bootstrap-wrapper">
    <div class="container text-center mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid"
                        style="width: 300px;"

                    src="/assets/capgicon.png" alt="">
                </div>
        <h1 class="text-center">Welcome to HRMS</h1>

        <a routerLink="/dashboard" mat-raised-button color="accent">Admin login here</a>
        <a routerLink="/emp-dashboard" mat-raised-button color="accent">Employee login here</a>

    </div>
</div>
