.employee-details-container {

  margin-top: 20px;

}




.employee-table {

  width: 100%;

  border-collapse: collapse;

}




.employee-table th,

.employee-table td {

  padding: 8px;

  border: 1px solid #ccc;

  text-align: left;

}




.employee-table th {

  background-color: #f2f2f2;

}









/* new styling */





.card-container {

  display: flex;

  justify-content: center;

  align-items: center;

  /* height: 100vh; */

  margin-top: 10px;

}




.card {

  width: 800px;

  padding: 20px;

  border-radius: 8px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  background: transparent;

}




h2 {

  margin-bottom: 10px;

}




.button {

  margin-bottom: 15px;

  background-color: rgb(165, 122, 122);

  width: 30%;

  /* color: gray; */

  height: 35px;

  border-radius: 6px;

 

}




.department-table {

  width: 100%;

}




.department-table th,

.department-table td {

  padding: 8px;

  text-align: center;

}




.department-table th {

  background-color: #f2f2f2;

  font-weight: bold;

}




.department-table tbody tr:nth-child(even) {

  background-color: #f2f2f2;

}




body {

  background-image: url("src/assets/bg11.jpg");

  /* background-color: rgba(0, 0, 0, 0.5); Adjust the alpha value (0.5 in this example) to control the transparency */

  background-blend-mode: multiply; /* This blending mode helps to blend the image and the background color */

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;
}




.mat-mdc-raised-button.mat-primary {

  --mdc-protected-button-container-color: #585050;

  --mdc-protected-button-label-text-color: #fff;

}