<body>
<mat-toolbar class="navbar-container">

  <h2 class="hrms-logo">Employee Portal</h2>

  <nav class="" mat-tab-nav-bar>

    <a  class=" alink" routerLink="/update">Update</a>

    <a  class=" alink" [matMenuTriggerFor]="salaryMenu">Salary</a>

    <mat-menu #salaryMenu="matMenu">

      <a class="Mbtncolor" mat-menu-item routerLink="/DepartmentSalary" routerLinkActive="active">Dept Salary</a>

      <a class="Mbtncolor" mat-menu-item routerLink="/DesignationSalary" routerLinkActive="active">Desgn Salary</a>

    </mat-menu>

    <a class="alink" routerLink="/ManagersList" routerLinkActive="active">Managers</a>

    <a class="alink" routerLink="/MidAgeEmployeeDetails" routerLinkActive="active">MidAgeEmp</a>

    <a class="alink" routerLink="/TitleWise" routerLinkActive="active">Title Wise</a>

    <a class="alink" routerLink="/CheckDesignations" routerLinkActive="active">Designations</a>

    <a class="alink" routerLink="/BecomeManager" routerLinkActive="active">ManagersDtwse</a>

    <a class="alink" routerLink="/SearchByDeptNo" routerLinkActive="active">DeptNoYear</a>

  </nav>

</mat-toolbar>
<div class="bootstrap-wrapper">
  <div class="container text-center mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="container">
          <img class="img-fluid" style="width: 300px;" src="/assets/capgicon1.png" alt="">
        </div>
      </div>
    </div>
    <div class="text-center">
      <h1 class="welcome-heading" style="font-family: cursive;">Welcome Admin</h1>
    </div>
  </div>
</div>