<body>
  <div class="card-container">
    <div class="card">
      <div class="department-container">
        <h2>Search by Dept No.</h2>
        <div class="input-container input-row">
          <label for="deptNo">Department No:</label>
          <input type="text" id="deptNo" [(ngModel)]="deptNo" class="input-field" required #deptNoInput="ngModel">
          <div *ngIf="deptNoInput.invalid && (deptNoInput.dirty || deptNoInput.touched)" class="error-message">
            Department No is required.
          </div>
          <label for="fromYear">From Year:</label>
          <input type="number" id="fromYear" [(ngModel)]="fromYear" class="input-field" required #fromYearInput="ngModel">
          <div *ngIf="fromYearInput.invalid && (fromYearInput.dirty || fromYearInput.touched)" class="error-message">
            From Year is required.
          </div>
          <button class="button" (click)="fetchEmployees()" [disabled]="deptNoInput.invalid || fromYearInput.invalid">Get Employees</button>
          
          
        </div>
      
        <div class="card1">
          <table class="employee-table">
            <thead>
              <tr>
                <th>Employee No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Department Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of pagedEmployees">
                <td>{{ employee.empNo }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.fromDate }}</td>
                <td>{{ employee.toDate }}</td>
                <td>{{ employee.deptName }}</td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="totalEmployees"
                         (page)="onPageChange($event)">
          </mat-paginator>
        </div>  
      </div>
    </div>
  </div>
</body>
