.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #64646479; /* Light gray */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000; /* Purple Pain */
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
    background-color: #a0d2eb; /* Ice Cold */
    color: #fff;
  }
  body{
    background-image: url("src\assets\bg11.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  h2[_ngcontent-ng-c2768610899] {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: xx-large;
    font-family: 'Roboto';
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
