body{
    background-image: url("src\assets\bg9.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  .container, .container-md, .container-sm {
    max-width: 419px;
}