<body>
  <div class="card-container">
    <div class="card">
      <div class="card-body">
        <h2>Managers After Specific Date</h2>
        <div class="form-group">
          <label for="fromDate">From Date:</label>
          <input class="form-control" type="date" id="fromDate" [(ngModel)]="fromDate" placeholder="From Date">
        </div>
        <button class="btn" (click)="getManagers()">Get Managers</button>
        <h2>Manager Details</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Employee ID</th>
              <th>Name</th>
              <th>Hire Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let manager of pagedManagers">
              <td>{{ manager.empNo }}</td>
              <td>{{ manager.firstName }}</td>
              <td>{{ manager.hireDate }}</td>
            </tr>
          </tbody>
        </table>
        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="totalManagers"
                       (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</body>