@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
  font-family: 'poppins', sans-serif;
}

body {
  background-image: url("src\assets\bg6.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container[_ngcontent-ng-c3431333300] {
    width: 400px;
    background-color: rgb(255 255 255 / 0%);
    border-radius: 20px;
    padding: 20px;
    padding-top: 189px;
}

.form-heading {
  font-weight: bold;
  text-align: center;
}

.form-field {
  width: 100%;
}

.btn-primary {
  width: 100%;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  color: rgb(16, 14, 14);
  font-size: 15px;
  padding: 0 45px 0 15px;
  background: rgba(242, 237, 237, 0.1);
  outline: none;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: rgb(20, 13, 13);
}

.submit {
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 100%;
  color: black;
  background: rgb(28 26 26 / 29%);
  cursor: pointer;
  transition: .3s;
}

.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
  display: fixed;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(20, 10, 10);
  font-size: small;
  margin-top: 10px;
}

.one {
  display: flex;
}

label a {
  text-decoration: none;
  color: rgb(13, 7, 7);
}
h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    font-family: Roboto, sans-serif;
    letter-spacing: .0125em;
    margin: 0 0 16px;
    text-align: center;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: #0000;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #000000;
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #00000045;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
.container, .container-md, .container-sm {
    max-width: 335px;
    padding-top: 206px;
}