<body>
  <div class="container">
    <h2>Update Employee Rating and Salary</h2>
    <form (ngSubmit)="updateRatingEmployee()" #employeeForm="ngForm">
      <div class="form-group">
        <label for="employeeId">Employee ID:</label>
        <input matInput type="number" id="employeeId" required [(ngModel)]="employeeId" name="employeeId" class="form-control">
        <div *ngIf="employeeForm.controls['employeeId'].invalid && employeeForm.controls['employeeId'].touched">
          <small class="error-message">Employee ID is required.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="rating">Rating:</label>
        <input matInput type="number" id="rating" required [(ngModel)]="rating" name="rating" class="form-control" min="1" max="5">
        <div *ngIf="employeeForm.controls['rating'].invalid && employeeForm.controls['rating'].touched">
          <small class="error-message">Rating is required and should be between 1 and 5.</small>
        </div>
      </div>
      <div class="one">
        <input type="checkbox" name="promoted" id="promoted" [(ngModel)]="promoted">
        <label for="check">Promoted</label>
      </div>
      <button mat-raised-button color="primary" type="submit" class="submit-btn" [disabled]="employeeForm.invalid || !employeeForm.dirty">Update Employee</button>
    </form>
  </div>
</body>
