.employee-list-container {

  background-color: transparent;

  padding: 10px;

  border-radius: 4px;

}

.heading {

  font-size: 24px;

  margin-bottom: 10px;

}



.employee-table {

  width: 100%;

  border-collapse: collapse;

  margin-top: 20px;

}



.employee-table th,

.employee-table td {

  padding: 8px;

  border: 1px solid #ccc;

}



.employee-table th {

  background-color: #f2f2f2;

  font-weight: bold;

  text-align: left;

}



.employee-table tr:nth-child(even) {

  background-color: #f9f9f9;

}






/* new styling */

.card-container {

  display: flex;

  justify-content: center;

  align-items: center;

  /* height: 100vh; */

  margin-top: 10px;

}



.card {

  width: 800px;

  padding: 20px;

  border-radius: 8px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  background: transparent;

}



h2 {

  margin-bottom: 10px;

}



.button {

  margin-bottom: 15px;

  background-color: rgb(165, 122, 122);

  width: 30%;




  height: 35px;

  border-radius: 6px;

 

}



.department-table {

  width: 100%;

}



.department-table th,

.department-table td {

  padding: 8px;

  text-align: center;

}



.department-table th {

  background-color: #f2f2f2;

  font-weight: bold;

}



.department-table tbody tr:nth-child(even) {

  background-color: #f2f2f2;

}




body {




  background-image: url("src/assets/bg11.jpg");



  background-size: cover;



  background-position: center;



  background-attachment: fixed;



  background-repeat: no-repeat;

  height: 200%;
}




.pagination-btn{

  /* padding-left: 4px;

  padding-top: 4px; */

  margin-top: 4px;

  margin-left: 4px;

  border-radius:px;

  /* color: #494949bd; */

  /* background-color: #8d57c0; */

  background-color: rgb(118, 34, 118);

}





.mat-mdc-raised-button.mat-primary {

  --mdc-protected-button-container-color: #585050;

  --mdc-protected-button-label-text-color: #fff;

}