/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center{
    text-align: center;
}

.mt{
    margin-top: 20px;
}
.mr{
    margin-right: 10px;
    margin-left: 10px;
}
.background-image {
    
    background-image: src('/assets/bg1.jpg');
    background-size: 100% 100%;
    /* Add any other desired background properties */
  }
  