.card-container {

    display: flex;

    justify-content: center;

    align-items: center;

    /* height: 100vh; */

    margin-top: 10px;

  }

 

  .card {

    width: 800px;

    padding: 20px;

    border-radius: 8px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    background: rgba(64, 64, 64, 0.5);

  }

 

  h2 {

    margin-bottom: 10px;

  }

 

  .button {

    margin-bottom: 15px;

background-color: rgb(238 238 238 / 63%);
    width: 30%;
    

    /* color: gray; */

    height: 35px;

    border-radius: 6px;

   

  }

 

  .department-table {

    width: 100%;

  }

 

  .department-table th,

  .department-table td {

    padding: 8px;

    text-align: center;

  }

 

  .department-table th {

    background-color: #f2f2f2;

    font-weight: bold;

  }

 

  .department-table tbody tr:nth-child(even) {

    background-color: #f2f2f2;

  }

 

body {

  background-image: url("src/assets/bg11.jpg");

  /* background-color: rgba(0, 0, 0, 0.5); Adjust the alpha value (0.5 in this example) to control the transparency */

  background-blend-mode: multiply; /* This blending mode helps to blend the image and the background color */

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;



}
.mdc-text-field {
    border-top-left-radius: var(--mdc-shape-small, 4px);
    border-top-right-radius: var(--mdc-shape-small, 4px);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-flex;
    align-items: baseline;
    padding: 0 16px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    will-change: opacity,transform,color;
    margin-right: 146px;
}