<body>
  <h1 class="title">Update Lastname</h1>
  <div class="card-container">
    <div class="card" style="margin-top: 100px; background-color: transparent;">
      <div class="mat-form-container">
        <h2>Update Last Name</h2>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="employeeId" placeholder="Employee ID" required #employeeIdInput="ngModel">
          <div *ngIf="employeeIdInput.invalid && (employeeIdInput.dirty || employeeIdInput.touched)" class="error-message">
            Employee ID is required.
          </div>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="newLastName" placeholder="New Last Name" required pattern="[a-zA-Z]*" #newLastNameInput="ngModel">
          <div *ngIf="newLastNameInput.invalid && (newLastNameInput.dirty || newLastNameInput.touched)" class="error-message">
            LastName is required and it should be in alphabets
          </div>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="updateLastName()" [disabled]="employeeIdInput.invalid || newLastNameInput.invalid">Update</button>
      </div>
    </div>
  </div>
</body>
