<header>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-PJsj/BTMqILvmcej7ulplguok8ag4xFTPryRq8xevL7eBYSmpXKcbNVuy+P0RMgq" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-5MaPvS97d1nLg9ZOWWs2zHGhEgDbW2CB7EdAdq7C41rC8BXZIl3aZ7br34R9gPhS" crossorigin="anonymous"></script>
</header>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
      <a class="navbar-brand" href="#">Admin Access</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/add-employee">Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/update-employee">Update Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/findemployees">Find Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/assign-department">Assign Department</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/assign-title">Assign Title</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/department">Add Department</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manager-assignment">Assign Manager</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="bootstrap-wrapper">
    <div class="container text-center mt-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="container">
            <img class="img-fluid" style="width: 300px;" src="/assets/capgicon1.png" alt="">
          </div>
        </div>
      </div>
      <div class="text-center">
        <h1 class="welcome-heading" style="font-family: cursive;">Welcome Admin</h1>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
