<body>
  <div class="card-container">
    <div class="card">
      <h2>Designation wise salary</h2>
      <button class="button" (click)="fetchData()">Get Details</button>
      <table *ngIf="isDataLoaded" class="table">
        <thead>
          <tr>
            <th>Designation</th>

            <th>Average Salary</th>

            <th>Max Salary</th>

            <th>Min Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let designation of designationList">

            <td>{{ designation.designation }}</td>

            <td>{{ designation.averageSalary | currency }}</td>

            <td>{{ designation.maxSalary | currency }}</td>

            <td>{{ designation.minSalary | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>