<body>
  <h1 class="title">Create Department</h1>
  <div class="container container-fluid">
    <form #userform="ngForm" class="form" (ngSubmit)="onSubmit(userform)" novalidate>
      <div class="form-group">
        <label style="font-size: 20px;">Department No</label>
        <input type="text" class="form-control" id="deptNo" name="deptNo" [(ngModel)]="deptNo" required>
        <div *ngIf="userform.controls['deptNo'].invalid && (userform.controls['deptNo'].dirty || userform.controls['deptNo'].touched)"
          class="error-message">
          Department No is required.
        </div>
      </div>
      <div class="form-group">
        <label style="font-size: 20px;">Department Name</label>
        <input type="text" class="form-control" id="deptName" name="deptName" [(ngModel)]="deptName" required pattern="[a-zA-Z]*">
        <div *ngIf="userform.controls['deptName'].invalid && (userform.controls['deptName'].dirty || userform.controls['deptName'].touched)"
          class="error-message">
          Department Name is required and should be in aplhabets.
        </div>
      </div>
      <button class="btn btn-outline-success" type="submit" [disabled]="userform.invalid">Submit</button>
      <button class="btn btn-outline-danger" routerLink="/dashboard">Back</button>
    </form>
  </div>
</body>
