.title {
  text-align: center;
  color: #333;
  font-size:50px;
  font-family: inherit;
}

.form[_ngcontent-ng-c1919252664] {
  background-color: #63636345;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: 350px;
  margin-right: 383px;
  margin-top: 85px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"][_ngcontent-ng-c1919252664], input[type="date"][_ngcontent-ng-c1919252664] {
  width: 97%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255 255 255 / 74%);  box-sizing: border-box;
}

.submit-btn,
.back-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #565656b0;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
}

.back-btn {
  background-color: #46464667;
  color: #fff;
}

.submit-btn:hover,
.back-btn:hover {
  opacity: 0.8;
}

body {
  background-image: url("src/assets/bg9.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
